*.aux
*.bbl
*.blg
*.log
*.fls
*.fdb_latexmk
fig1.png
IEEEtran_HOWTO.pdf
conference_101719.pdf
conference-latex-template_10-17-19.zip
.auctex-auto/
.DS_Store
*.sublime-workspace
*.sublime-project
paper.txt